{% extends 'base.html' %}
{% load static %}
{% block title %}My Secrets{% endblock %}
{% block body %}
    {% include 'header.html' %}
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="display-3">My Secrets</h1>
            <table class="table">
                <tr>
                    <td class="col-2 fs-4 text-uppercase" scope="col">Key</td>
                    <td class="col-8 fs-4 text-uppercase" scope="col">Secret</td>
                    <td class="col-1 fs-4 text-uppercase" scope="col"></td>
                    <td class="col-1 fs-4 text-uppercase" scope="col">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end">
                                <a class="btn btn-success" href="{% url 'secret_create' %}">Add</a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% for secret in secrets %}
                <tr>
                    <td class="align-middle display-6">{{ secret.key }}</td>
                    <td class="align-middle">
                        <div class="input-group">
                            <input type="{% if secret.encrypted == True %}password{% else %}text{% endif %}"
                                class="form-control" id="secret-passwd-{{ secret.id }}" name="secret-passwd"
                                value="{% if secret.encrypted == True %}{{ secret.passwd_hashed }}{% else %}{{ secret.passwd }}{% endif %}"
                                aria-label="{{ secret.id }}" aria-describedby="button-addon2" readonly>
                            {% if secret.encrypted == True %}
                            <button class="btn btn-outline-primary" type="button" id="button-view-{{ secret.id }}"
                                onclick="passwordToText({{ secret.id }})">
                                View
                            </button>
                            {% endif %}
                            <button class="btn btn-outline-info" type="button" id="button-copy-{{ secret.id }}"
                                onclick="copyToClipboard({{ secret.id }})" data-bs-toggle="tooltip-{{ secret.id }}"
                                data-bs-placement="top">
                                Copy
                            </button>
                        </div>
                    </td>
                    <td class="align-middle">
                        <div class="col-12 d-flex justify-content-center">
                            <a class="btn btn-warning" href="{% url 'secret_update' pk=secret.id %}">Edit</a>
                        </div>
                    </td>
                    <td class="align-middle">
                        <div class="col-12 d-flex justify-content-center">
                            <a class="btn btn-danger" href="{% url 'secret_delete' pk=secret.id %}">Delete</a>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <h3>You don't have any secrets!</h3>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        function showtip(id) {
            var attribute = $('[data-bs-toggle="tooltip-' + id + '"]');
            console.log(attribute);
            $(attribute).tooltip({
                title: 'Copied!'
            });
        }
        function copyToClipboard(id) {
            $.ajax(
                {
                    type: "GET",
                    url: "{% url 'get_password' %}",
                    data: {
                        pk: id
                    },
                    success: function (response) {
                        navigator.clipboard.writeText(response.passwd);
                        showtip(id);
                    }
                }
            )
        }
        function passwordToText(id) {
            $.ajax(
                {
                    type: "GET",
                    url: "{% url 'get_password' %}",
                    data: {
                        pk: id
                    },
                    success: function (response) {
                        var inputId = ("secret-passwd-" + id);
                        var buttonId = ("button-view-" + id);
                        var inputType = document.getElementById(inputId).type;
                        if (inputType == 'password') {
                            document.getElementById(inputId).type = 'text'
                            document.getElementById(inputId).value = response.passwd
                            document.getElementById(buttonId).innerHTML = 'Hide'
                        }
                        else {
                            document.getElementById(inputId).type = 'password'
                            document.getElementById(inputId).value = response.passwd_hash
                            document.getElementById(buttonId).innerHTML = 'View'
                        }
                    }
                }
            )
        }
    </script>
{% endblock %}
