<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Secret</title>
    </head>
    <body>
        {% include 'header.html' %}
        <h1>Index of Secret</h1>
        <table>
            <tr>
                <th>Key</th>
                <th>Secret</th>
            </tr>
            {% for secret in secrets %}
                <tr>
                    <td>
                        <a href="{% url 'secret_detail' pk=secret.id %}">{{ secret.key }}</a>
                    </td>
                    <td>{{ secret.passwd }}</td>
                </tr>
            {% empty %}
                <h3>You don't have any secrets!</h3>
            {% endfor %}
        </table>
    </body>
</html>
